flows (1).json
[
    {
        "id": "a8031754dbaf222c",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "button1",
        "type": "ui_button",
        "z": "a8031754dbaf222c",
        "name": "LED ON",
        "group": "7c4d1db03edb72a9",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Prender LED",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "casa/led",
        "topicType": "str",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "mqttOut"
            ]
        ]
    },
    {
        "id": "button2",
        "type": "ui_button",
        "z": "a8031754dbaf222c",
        "name": "LED OFF",
        "group": "7c4d1db03edb72a9",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Apagar LED",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "casa/led",
        "topicType": "str",
        "x": 200,
        "y": 220,
        "wires": [
            [
                "mqttOut"
            ]
        ]
    },
    {
        "id": "mqttOut",
        "type": "mqtt out",
        "z": "a8031754dbaf222c",
        "name": "",
        "topic": "R2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "af1e6ca82eb43834",
        "x": 460,
        "y": 190,
        "wires": []
    },
    {
        "id": "7c4d1db03edb72a9",
        "type": "ui_group",
        "name": "r2",
        "tab": "98de67ce247a0a80",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "af1e6ca82eb43834",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "98de67ce247a0a80",
        "type": "ui_tab",
        "name": "Cuatrimestre 5",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]